.App {
  display: flex;
  position: relative;
  justify-content: center;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.custom-video {
  height: 100vh;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 10vh;
  transform: translate(-50%, 0);
  z-index: 10;
}

.options {
  display: flex;
  align-items: center;

  gap: 12px;
}

.playback-rate-controls {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
}

.time-info {
  display: flex;
  color: white;
}

video::-webkit-media-controls {
  display: none !important;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: 1px solid;
  border-radius: 8px;
}
